body {
  margin: 0;
  background-color: #FFFFFF;
}

hr {
  border-style: none;
  width: 4%;
  border-top: 7px dotted #ff96ad;
}

h2 {
  color: #005a8d;
}

h3 {
  color: #005a8d;
}

.top-container {
  background-color: #FFF5FD;
  color: #687980;
  height: 11rem;
}

.middle-container {
  padding: 0.9rem;
  color: #687980;
}

.bottom-container {
  text-align: center;
  background-color: #FFF5FD;
  height: 10rem;
}
a{
  color: black;
}
a:hover {
  color: #63AAD2;
}
.links {
  line-height: 0.5rem;
  padding-top: 2rem;
}
.footer-link {
  margin: 1%;
  position: relative;
  padding-right: 1rem;
  top: 31%;
  color: #005A8D;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
}
.copyright {
  top: 42%;
  color: #ff96ad;
  position: relative;
  font-size: 0.9rem;
}
.contact-page{
  position: relative;
  top: 7.2rem;
}
.footer-link-contact-page {
  margin: 1%;
  position: relative;
  top: 31%;
  color: #005A8D;
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
}
